<mat-sidenav-container>
  <mat-sidenav #sidenav style="min-width: 200px">
    <mat-nav-list>
      <button mat-button routerLink="/login" (click)="sidenav.close()" style="width: 100%">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
          <mat-icon>exit_to_app</mat-icon>
          <span>Login</span>
        </div>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
