<mat-sidenav-container>
  <mat-sidenav #sidenav style="min-width: 12rem">
    <mat-nav-list>

      <div *ngIf="user$ | async; else loggedOut">
        <button mat-button routerLink="/categories" (click)="sidenav.close()" style="width: 100%">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2rem">
            <mat-icon svgIcon="categories"></mat-icon>
            <span>Categories</span>
          </div>
        </button>
        <button mat-button routerLink="/wallets" (click)="sidenav.close()" style="width: 100%">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2rem">
            <mat-icon svgIcon="wallet"></mat-icon>
            <span>Wallets</span>
          </div>
        </button>
        <button mat-button (click)="logout()" style="width: 100%">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2rem">
            <mat-icon svgIcon="exit"></mat-icon>
            <span>Logout</span>
          </div>
        </button>
      </div>

      <ng-template #loggedOut>
        <button mat-button routerLink="/login" (click)="sidenav.close()" style="width: 100%">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2rem">
            <mat-icon svgIcon="enter"></mat-icon>
            <span>Login</span>
          </div>
        </button>
      </ng-template>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
